
<section
    class="landing-section bg-black h-screen text-center relative overflow-hidden" data-header-color="black"
>
    <div class="z-30 relative h-full w-screen flex flex-col items-center">
        <header>
            <h2 class="text-white text-5xl pt-40 mb-10 font-medium">
                Todo comienza con un afilado
            </h2>
            <p class="text-white text-base max-w-[730px]">
                "Un cuchillo <span class="text-red-700">afilado</span> no solo es
                una herramienta en la cocina, es la clave para desatar sabores y
                texturas, transformando la preparación de alimentos en una danza
                precisa y placentera."
            </p>
        </header>
        <footer class="flex flex-grow justify-end flex-col pb-24">
            <div>
                <a
                    href="/Knife"
                    class="border-2 border-white bg-white/5 backdrop-blur-3xl rounded font-medium text-white px-6 py-2 inline-block hover:bg-white hover:text-black transition-colors"
                    >Descubre nuestros afilados</a>
            </div>
        </footer>
    </div>
    <div class="min-[1860px]:hidden absolute top-0 bottom-0 h-full z-10">
        <video
            autoplay
            muted
            loop
            src="/video.webm"
            class="object-cover h-full"></video>
    </div>
    <div class="min-[1860px]:absolute min-[1860px]:top-0 min-[1860px]:bottom-0 min-[1860px]:h-full min-[1860px]:z-10">
        <video
            autoplay
            muted
            loop
            src="/video.webm"
            class="object-cover w-full"></video>
    </div>
</section>
