<section
    class="landing-section bg-black h-screen text-center relative overflow-hidden" data-header-color="white"
>
    <div class="z-30 relative h-full w-screen flex flex-col items-center">
        <header>
            <h2 class="text-white text-5xl pt-40 mb-10 font-medium">
                Nos desplazamos por la provincia
            </h2>
            <p class="text-white text-base max-w-[730px]">
                Nos desplazamos casi en toda la provincia para hacer los afilados in-situs, despreocupandose de llevarlo y despues recogerlo. Lo hacemos en el instante, dando la comodidad a nuestros clientes.
            </p>
        </header>
        <footer class="flex flex-grow justify-end flex-col pb-24">
            <div class="flex gap-x-4 mx-auto">
                <a
                    href="#"
                    class=" bg-gray-600 rounded font-medium text-white px-6 py-2 hover:bg-white hover:text-black transition-colors justify-center inline-flex items-center"
                    >Descubra los diferentes cuchillos</a>
                    
                    <a
                    href="#"
                    class="border-2 border-white bg-white/5 backdrop-blur-3xl rounded font-medium text-white px-6 py-2 inline-block hover:bg-white hover:text-black transition-colors"
                    >Coger Cita</a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full z-10">
        <img src="https://afiladorpro.es/cuchillos.webp" class=" h-full object-cover bg-white/60" alt="">
    </div>

</section>

