---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import HeroSectionMenu from "../components/M_HeroSection.astro";
import Gallery from "./Images.astro";
import About from "../components/About.astro";
import Service from "../components/Service.astro";
import MenuMobile from "../components/M_Nav.astro";

---

<Layout title="Afilador Pro">
	<div class="desktop">
	<LandingHeader active="home"/>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center" id="#">
			<HeroSection />
		</div>
		<div class="snap-center" id="price">
			<Service />
		</div>
		<div class="snap-center" id="about">
			<About />
		</div>
		
		
	</main>
</div>
<div class="mobile">
<MenuMobile active="home"/>
<HeroSectionMenu />
</div>
</Layout>

<style>
	@media screen and (max-width: 450px) {
    .desktop {
        display: none;
    }
}
	@media screen and (min-width: 451px) {
    .mobile {
        display: none;
    }
}
</style>
