---
import LandingHeader from "../components/LandingHeaderBis.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Cuchillos">
  <LandingHeader active="/knife" />
  <section class="header">
    <div id="bg-cloud">
      <canvas id="cvs" width="2600px" height="2500px"></canvas>
    </div>
    <div class="max-w-[1200px] flex flex-col justify-center items-center gap-6 lg:mt-40 mx-auto mt-40">
    <div class="card ">
      

        <div class="group h-92 h-80 bg-slate-300 p-3 flex justify-center items-center hover:bg-slate-900 transition-colors duration-300 relative">
          <div class="flex flex-col gap-4 items-center">
            <p class="text-black font-bold text-xl">Cuchillo Jamonero</p>
          <img class=" group-hover:opacity-20 object-cover w-96 max-w[15.375rem] max-h-[5.5rem] " src="/knife-1.webp" alt="" />
        </div>
          <p class="text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute flex justify-center items-center p-2">Cuchillo Jamonero que se usa para los cortes de jamón, fino y sin pulir para que no se pegue el jamón al cortarlo. Un filo estrecho para que el corte sea preciso y se deslise entre el jamón.</p>
        </div>
        <div class="group h-92 h-80 bg-slate-300 p-3 flex justify-center items-center hover:bg-slate-900 transition-colors duration-300 relative">
          <div class="flex flex-col gap-4 items-center">
            <p class="text-black font-bold text-xl">Cuchillo Chef</p>
          <img class=" group-hover:opacity-20 object-cover w-96 max-w[15.375rem] max-h-[5.5rem]" src="/knife-24.webp" alt="" />
        </div>
        <p class="text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute flex justify-center items-center p-2">También llamado "cebollero". Es el cuchillo
          más versátil de todos. El 80% del tiempo
          este será el cuchillo que tengas en la mano.
          Por eso merece la pena invertir la mayor
          parte del presupuesto en un buen cuchillo
          de chef.
          Suelen tener una longitud entre los 18 y los
          24 cm de hoja. Aunque la medida más habi-
          tual es de 20 cm (8 pulgadas).</p>
        </div>
        <div class="group h-92 h-80 bg-slate-300 p-3 flex justify-center items-center hover:bg-slate-900 transition-colors duration-300 relative">
          <div class="flex flex-col gap-4 items-center">
            <p class="text-black font-bold text-xl">Cuchillo Puntilla</p>
          <img class=" group-hover:opacity-20 object-cover w-96 max-w[15.375rem] max-h-[5.5rem]" src="/knife-22.webp" alt="" />
        </div>
        <p class="text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute flex justify-center items-center p-2">La puntilla es un cuchillo de hoja corta y es-
          trecha. Eso nos permite realizar con ella tra-
          bajos que necesiten precisión y delicadeza.
          Picar fino un ajo o pelar una verdura son tra-
          bajos más cómodos para una puntilla que
          para cuchillos más grandes.</p>
        </div>
        <div class="group h-92 h-80 bg-slate-300 p-3 flex justify-center items-center hover:bg-slate-900 transition-colors duration-300 relative">
          <div class="flex flex-col gap-4 items-center">
            <p class="text-black font-bold text-xl">Cuchillo Pelar</p>
          <img class=" group-hover:opacity-20 object-cover w-96 max-w[15.375rem] max-h-[5.5rem]" src="/knife-23.webp" alt="" />
        </div>
        <p class="text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute flex justify-center items-center p-2">Son aún más pequeños que las puntillas.
          Están pensados para pelar la piel de frutas
          y verduras con delicadeza. También se utili-
          zan para tallar formas en ellas.
          Dependiendo de la forma de la hoja pode-
          mos encontrar varios tipos. Los más comu-
          nes son los de punta de lanza, los de pie de
          oveja y los de pico de pájaro.</p>
        </div>
        <div class="group h-92 h-80 bg-slate-300 p-3 flex justify-center items-center hover:bg-slate-900 transition-colors duration-300 relative">
          <div class="flex flex-col gap-4 items-center">
            <p class="text-black font-bold text-xl">Cuchillo Filetear</p>
          <img class=" group-hover:opacity-20 object-cover w-96 max-w[15.375rem] max-h-[5.5rem]" src="/knife-20.webp" alt="" />
        </div>
        <p class="text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute flex justify-center items-center p-2">Es el equivalente europeo del sujihiki. Es
          un cuchillo parecido al cebollero, pero con
          la hoja más larga y algo menos de anchura
          de pala. Este cuchillo tiene una hoja larga y rígida para permitir hacer cortes largos en
          piezas de carne o pescado.</p>
        </div>
        <div class="group h-92 h-80 bg-slate-300 p-3 flex justify-center items-center hover:bg-slate-900 transition-colors duration-300 relative">
          <div class="flex flex-col gap-4 items-center">
            <p class="text-black font-bold text-xl">Cuchillo Flexible</p>
          <img class=" group-hover:opacity-20 object-cover w-96 max-w[15.375rem] max-h-[5.5rem]" src="/knife-21.webp" alt="" />
        </div>
        <p class="text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute flex justify-center items-center p-2">Tiene una hoja más corta que un cebollero
          y una pala mucho más estrecha. La hoja es
          delgada y flexible y recuerda en la forma a
          la de un cuchillo de deshuesar. Esta flexibili-
          dad del cuchillo permite limpiar el pescado
          con facilidad.</p>
        </div>
        <div class="group h-92 h-80 bg-slate-300 p-3 flex justify-center items-center hover:bg-slate-900 transition-colors duration-300 relative">
          <div class="flex flex-col gap-4 items-center">
            <p class="text-black font-bold text-xl">Cuchillo Deshuesar</p>
          <img class=" group-hover:opacity-20 object-cover w-96 max-w[15.375rem] max-h-[5.5rem]" src="/knife-19.webp" alt="" />
        </div>
        <p class="text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute flex justify-center items-center p-2">Es de hoja estrecha y robusta, diseñado para
          separar la carne del hueso. Podemos encon-
          trar un abanico amplio de longitudes de
          hoja. Desde tamaños poco más grandes que
          una puntilla hasta longitudes similares a las
          de un cebollero.
          Tienen una hoja rígida y un poco gruesa,
          por lo que aguantan bien cierto erado de
          maltrato.</p>
        </div>
        <div class="group h-92 h-80 bg-slate-300 p-3 flex justify-center items-center hover:bg-slate-900 transition-colors duration-300 relative">
          <div class="flex flex-col gap-4 items-center">
            <p class="text-black font-bold text-xl">Machete de Cocina</p>
          <img class=" group-hover:opacity-20 object-cover w-96 max-w[15.375rem] max-h-[5.5rem]" src="/knife-17.webp" alt="" />
        </div>
        <p class="text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute flex justify-center items-center p-2">La macheta es un elemento imprescindible
          en cualquier cocina en la que se haga trabajo
          pesado. Es un cuchillo de hoja corta, ancha y robusto.</p>
        </div>

      
      
    </div>
    <footer class="flex flex-grow justify-end flex-col pb-24">
      <div>
          <a
              href="//Knife"
              class="border-2 border-black bg-black/30 backdrop-blur-3xl rounded font-medium text-white px-6 py-2 inline-block hover:bg-white hover:text-black transition-colors"
              >Cuchillos Tradicionales</a>
          <a
              href="/Japan-Knive"
              class="border-2 border-black bg-blak/5 backdrop-blur-3xl rounded font-medium text-black px-6 py-2 inline-block hover:bg-white hover:text-black transition-colors"
              >Cuchillos Japoneses</a>
      </div>
  </footer>
  </div>
  </section>
</Layout>
<style>
  .header {
    padding: 10px;
  }
  #bg-cloud {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    background: url(https://afiladorpro.es/vecteezy_conjunto-de-nubes_21888221.png)
      no-repeat fixed;
    background-position: -900px -90px;
    animation: moveClouds 420s linear infinite;
  }
  @keyframes moveClouds {
    0% {
      background-position: -900px -90px;
    }
    100% {
      background-position: 100vw 100vh;
    }
  }

  #cvs {
    position: absolute;
    width: 2600px;
    weight: 2500px;
    background-color: #ffffffe0;
  }

  .card {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    place-content: center;
    width: 100%;
    margin: auto;
  }

  .remove-when-use {
  }

  .details > p {
  }

  .label {
  }
  .details > label {
  }

  .details {
  }
  i {
  }

  .card:hover > .details {
  }
</style>
